/* HEADER */

.logo {
  display: block;
  height: 2.5rem;
}
/* UNTIL HERE FOR HEADER */

/* SECTION HERO */

.section-hero {
  padding: 17rem 0;
  background-color: #2c2640;
  position: relative;
}

.section-hero .container {
  /*  display: flex; */
  justify-items: center;
  align-items: center;
  /* gap: 3rem; */
  position: relative;
  padding: 5rem 3rem;
}

.img-box {
  width: 100%;
  height: 100%;
}

.section-hero .text-box::before {
  content: "";
  width: 18rem;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -5.2rem;
}

.section-hero::after {
  content: "";
  width: 144rem;
  height: 100%;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  /* background-size: fill; */
  position: absolute;
  top: 6.2rem;
  right: -104.7rem;
  z-index: 9999;
  transform: scale(1.15);
}
.section-hero::before {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-intro-left-desktop.svg);
  background-repeat: no-repeat;
  /* background-size: fill; */
  position: absolute;
  top: 67rem;
  left: 10rem;
  z-index: 9999;
  transform: scale(1.15);
}
.section-hero .bg-right::after {
  /* content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-intro-right-desktop.svg);
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0; */
}

.section-hero .grid--2-cols {
  grid-template-columns: 0.9fr 1.1fr;
}
.section-hero .img {
  display: block;
  position: absolute;
  width: 50%;
  right: 0;
  bottom: -34.5rem;
}

.section-hero .text-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* UNTIL HERE FOR SECTION HERO */

/* SECTION DIFFERENT */

.section-different {
  padding: 40.8rem 0 17rem 0;
}

.section-different .heading-secondary {
  margin-bottom: 6rem;
}

.features {
  display: flex;
  gap: 4rem;
}

.feature-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  color: #837d87;
  line-height: 1.6;
}

.section-different .container {
  position: relative;
}
.section-different .heading-secondary::after {
  content: "";
  width: 18rem;
  height: 2px;
  background-color: #d1c8d3;
  position: absolute;
  top: -5.2rem;
  left: 3rem;
}
/* UNTIL HERE FOR SECTION DIFFERENT */

/* SECTION CTA */
.section-cta {
  padding: 0 0 15rem 0;
}

.section-cta .container {
  background-color: #2c2640;
  padding: 10.5rem 11rem;
  overflow: hidden;
}

.cta-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.heading-box {
  width: 58.5%;
}

.section-cta .btn-box {
  z-index: 9999;
}

.section-cta .btn-box::after {
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
  background-repeat: no-repeat;
  background-size: contain;
  transform: scale(2.4);
  position: absolute;
  top: 0;
  right: -155rem;
  z-index: -1;
}

.section-cta .heading-secondary {
  color: #fff;
}
/* UNTIL HERE FOR SECTION CTA */

/* FOOTER */

.footer {
  padding: 10rem 0;
  background-color: #fafafa;
  background-image: url(../images/bg-pattern-footer-desktop.svg);
  background-repeat: no-repeat;
  background-size: 34%;
}

.footer .container {
  position: relative;
}

.logo-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;
}

.logo-links::before {
  content: "";
  width: 96%;
  height: 1px;
  background-color: #d1c8d3;
  position: absolute;
  top: 6rem;
}

.social-links {
  display: flex;
  gap: 2rem;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 15rem; */
  /* align-items: center; */
}

.footer .links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  gap: 2rem;
}

.link-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.footer-link:link,
.footer-link:visited {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  color: #2d2b39;
  font-weight: 700;
  display: block;
  width: fit-content; /*Para hindi mag stretch hanggang dulo yung border. Try removing this para malaman*/
  border-bottom: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}
.footer-link:hover,
.footer-link:active {
  border-bottom: 1px solid #000;
}

.footer-icon {
  width: 3rem;
  height: 3rem;
  transition: all 0.3s ease-in-out;
}

.footer-icon:hover {
  transform: translateY(-15%);
}
/* UNTIL HERE FOR FOOTER */
